*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(1, 30, 21);
}


.header-div{
    display: flex;
    justify-content: center;


}
.main-header {
        font-family: "Jacquard 12", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 10em;
        color: rgb(10, 222, 152);
        margin-top:20px;
}


.player-titles{
    font-family: "Jacquard 12", system-ui;
        font-weight: 400;
        font-style: normal;
        color: rgb(10, 222, 152);
        font-size: 3em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
        margin-bottom: 30px;
        
}
.p1-heading{
    padding-right:80px;
}
.p2-heading{
    padding-left: 55px;
}

.heading-pdiv{
    display: flex;
    justify-content: center;
}
.p-div{
    display: flex;
    justify-content: center;
}
.player1-div img{
    padding-left: 500px;
}

.player2-div img{
    padding-right: 500px;
}

.game-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.invisible-imgs{
    visibility: hidden;
}
